body {
    background-image: url("file:///C:/Users/User/Documents/computer%20and%20ITdata/img/computer-science-vs-it-HERO.jpg");
    background-size: cover;
    background-repeat: round;
    background-attachment: scroll;
    margin: 0;
    font-family: Arial, sans-serif;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
}


